.page {
	background-color: #1E2030;
  }
  
  .title {
	text-align: center;
  }
  
  .text {
	color: #B7BDF8;
  }
  
  .p1_score {
	text-align: left;
	float: left;
  }
  
  .p2_score {
	text-align: right;
	float: right;
  }
  
  .playground {
	width: 400px;
	height: 400px;
	background-color: #363a4f;
	margin: auto;
	position: relative;
  }
  
  .ball {
	width: 5px;
	height: 5px;
  }
  
  .paddle {
	width: 5px;
	height: 60px;
	position: absolute;
	background-color: #8AADF4;
  }
  
  .player1 {
	top: 140px;
	left: 0;
  }
  
  .player2 {
	top: 140px;
	right: 0;
  }